{% extends "ecom/base.html" %}
{% load static %}

{% block title %}
    Pizza-Hub | Cart
{% endblock %}

{% block fbgnav %}
    nav-fbg
{% endblock %}

{% block content %}

        <!-- FIRST PART -->

        <div class="m-jumbo">
            <h2 class="p2-heading"><i class="fas fa-shopping-cart"></i> Cart</h2>
        </div>

        <!-- SECOND PART -->

        <!-- Cart -->

        {% if products %}
        <div class="shpcart">
            <table id="shptable">
                <tr>
                    <th class="thsplft">Product</th>
                    <th>Price</th> 
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                <tbody id="all_products">
                {% for item in products %}
                    <tr>
                        <td class="shpimg">
                            <img src="{% static 'ecom/images/karthik-garikapati-oBbTc1VoT-0-unsplash.jpg' %}" alt="">
                            <div>{{item.product.item}}</div>
                            <div class="pid" hidden>{{item.product.id}}</div>
                        </td>
                        <td>{{item.product.price}}</td>
                        <td class="quantity">
                            <input id="cartitemno" class="tdinp" type="number" value="{{item.quantity}}" min="0" max="10">
                        </td>
                        <td>{{item.product.price}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                
                <tr>
                    <td class="thsplft">
                        
                    </td>
                    <td></td>
                    <td id="total_quantity">0</td>
                    <td id="total_display">₹0</td>
                </tr>
            </table>
        </div>

        <div class="shpcheckout">
            <h3>Order Summary:</h3>
            <hr style="margin: 20px 0px 30px 0px;">
            <span>&nbsp&#9745 Item Subtotal: ₹<span id="total_display2">0</span></span>
            <!-- <span>&nbsp&#9745 Discount: $49</span> -->
            <span>&nbsp&#9745 Delivery Charges: ₹<span id="delv_charges">25.0</span></span> 
            <span>&nbsp&#9745 Amount to be paid: ₹<span id="endtotal_display">0</span></span>
            <div>
                <a href="{% url 'menu' %}">Continue Shopping</a>
                <a onclick="checkoutp()">Checkout</a>
            </div>
            
        </div>

        <form hidden id="checkoutfs" action="{% url 'checkout' %}" method="post">{% csrf_token %}
            <input name="checkoutip" value="" type="text">
        </form>
        {% else %}
        <p style="text-align: center;"><em>There are no items in your cart.</em></p>
        {% endif %}

{% endblock %}


{% block scripts %}

<script>
    document.querySelectorAll(".quantity").forEach(qty => qty.addEventListener("change", changeSubtotal));
    document.querySelector('body').onload = function() {
        var container = document.getElementsByClassName('quantity');
        for(var i=0; i<container.length; i++) {
            console.log(container[i]);
            changeSubtotalOnLoad(container[i]);
        }
        total();
    };


    // Change subtotal
    function changeSubtotal(element) {
        var price = this.previousElementSibling.innerHTML;
        var quantity = element.target.value; 
        var subtotal = parseFloat(price * quantity).toFixed(2);
        this.nextElementSibling.innerHTML = subtotal;
        total();
    }

    // Change subtotal on load
    function changeSubtotalOnLoad(element) {
        var price = element.previousElementSibling.innerHTML;
        var quantity = element.getElementsByTagName('input')[0].value; 
        var subtotal = parseFloat(price * quantity).toFixed(2);
        element.nextElementSibling.innerHTML = subtotal;
    }

    // Sum total
    function total(){
        var totalDisplay = document.getElementById("total_display");
        var totalDisplay2 = document.getElementById("total_display2");
        var endtotalDisplay = document.getElementById("endtotal_display");
        var totalQuantity = document.getElementById("total_quantity");
        var delvCharges = document.getElementById("delv_charges");

        var sum = 0;
        var noitems = 0;
        var tbody = document.getElementById("all_products");

        for (var i = 0; i < tbody.rows.length; i++) {
            sum = sum + parseFloat(tbody.rows[i].cells[3].innerHTML);
            noitems = noitems + parseInt(tbody.rows[i].cells[2].getElementsByTagName('input')[0].value);
        }
        var total = sum.toFixed(2);
        totalDisplay.innerHTML =  "₹"+total;
        totalDisplay2.innerHTML = total;
        totalQuantity.innerHTML = noitems;
        endtotalDisplay.innerHTML = (parseFloat(total)+parseFloat(delvCharges.innerText)).toFixed(2);
    }

    function checkoutp(){
        var tbody = document.getElementById("all_products");
        var cfs = document.getElementById("checkoutfs");
        var pdict = {};

        for (var i = 0; i < tbody.rows.length; i++) {
            PID = tbody.rows[i].cells[0].getElementsByClassName('pid')[0].innerText;
            noitems = tbody.rows[i].cells[2].getElementsByTagName('input')[0].value;
            pdict[PID] = noitems;
        }
        cfs.getElementsByTagName('input')[1].value = JSON.stringify(pdict);
        console.log(JSON.stringify(pdict));
        cfs.submit();
    }
</script>

{% endblock %}