{% extends "ecom/base.html" %}
{% load static %}

{% block title %}
    Pizza-Hub | Cart
{% endblock %}

{% block fbgnav %}
    nav-fbg
{% endblock %}

{% block content %}

        <!-- FIRST PART -->

        <div class="m-jumbo">
            <h2 class="p2-heading"><i class="fas fa-shopping-cart"></i> Cart</h2>
        </div>

        <!-- SECOND PART -->

        <!-- Cart -->

        {% if products %}
        <div class="shpcart">
            <table id="shptable">
                <tr>
                    <th class="thsplft">Product</th>
                    <th>Price</th> 
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
                <tbody id="all_products">
                {% for item in products %}
                    <tr>
                        <td class="shpimg">
                            {% if item.product.image %}
                            <img src="{{item.product.image.url}}" alt="Avatar">
                            {% else %}
                            <img src="{% static 'ecom/images/karthik-garikapati-oBbTc1VoT-0-unsplash.jpg' %}" alt="Avatar">
                            {% endif %}

                            <div>
                                {{item.product.item}}
                                <a style="margin-left: 10px;" href="{% url 'product-details' item.product.id %}"><i class="fas fa-external-link-alt "></i></a>
                            </div>
                            
                            <div class="pid" hidden>{{item.product.id}}</div>
                        </td>
                        <td>{{item.product.price}}</td>
                        <td class="quantity">
                            <input id="cartitemno" class="tdinp" type="number" value="{{item.quantity}}" min="1" max="10">
                        </td>
                        <td>{{item.product.price}}</td>
                        <td>
                            <form action="{% url 'remove-from-cart' item.product.id %}" method="POST">
                                {% csrf_token %}
                                <button title="Remove from Cart" style="border: 0; background-color: transparent; cursor: pointer;" type="submit" name="product_id" ><i class="fas fa-trash-alt f-heart"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                
                <tr>
                    <td class="thsplft">
                        
                    </td>
                    <td></td>
                    <td id="total_quantity">0</td>
                    <td id="total_display">₹0</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="shpcheckout">
            <h3>Order Summary:</h3>
            <hr style="margin: 20px 0px 30px 0px;">
            <span>&nbsp ✅ Item Subtotal: ₹<span id="total_display2">0</span></span>
            <!-- <span>&nbsp&#9745 Discount: $49</span> -->
            <span>&nbsp ✅ Delivery Charges: ₹<span id="delv_charges">{{cart.delivery_charges}}</span></span> 
            <span>&nbsp ✅ Amount to be paid: ₹<span id="endtotal_display">0</span></span>
            <div>
                <a href="{% url 'menu' %}">Continue Shopping</a>
                <a onclick="checkoutp()">Checkout</a>
            </div>
            
        </div>

        <form hidden id="checkoutfs" action="{% url 'checkout' %}" method="post">{% csrf_token %}
            <input name="checkoutip" value="" type="text">
        </form>
        {% else %}
        <p style="text-align: center;"><em>There are no items in your cart.</em></p>
        {% endif %}

{% endblock %}


{% block scripts %}
    <script src="{% static 'ecom/js/cart.js' %}"></script>
{% endblock %}