<!-- https://codepen.io/yaworek/pen/JJpEaZ?editors=1000 -->

{% extends "ecom/base.html" %}

{% block title %}Pizza-Hub | Success{% endblock %}

{% block fbgnav %}
    nav-fbg
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
        .starrating > input {display: none;} 

        .starrating > label:before { 
        content: "\f005";
        margin: 2px;
        font-size: 26px;
        font-family: FontAwesome;
        display: inline-block; 
        }

        .starrating > label
        {
        color: #222222; 
        }

        .starrating > input:checked ~ label
        { color: #ffca08 ; } 

        .starrating > input:hover ~ label
        { color: #ffca08 ;  } 

    </style>
{% endblock %}

{% block content %}

<div class="container smtmsg">
    <br>
    <h2>Payment Success &nbsp;<i style="color: rgb(0, 202, 0);" class="fas fa-check-circle"></i></h2> 
    <hr>
    <p class="mt-3"><em>Thank you for choosing us. <a target="_blank" href="{% url 'receipt' orderid %}">Show Receipt &nbsp;&nbsp;<i class="fas fa-external-link-alt "></i></a></em></p>
    <br>
    <p class="h5">Rate your order</p>
    <form id="order-rating" action="#" method="post">{% csrf_token %}
        <div class="starrating risingstar d-flex justify-content-end flex-row-reverse">
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
            <input hidden type="submit">
        </div>
    </form>
    	
    <br>
    <p><a class="btn btn-primary" href="{% url 'menu' %}">Continue shopping</a></p>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){

        $(".rating input:radio").attr("checked", false);

        $('.rating input').click(function () {
            $(".rating span").removeClass('checked');
            $(this).parent().addClass('checked');
        });

        $('input:radio').change(
        function(){
            var userRating = this.value;
            alert(userRating);
        }); 

        $(document).on('click','#like',function(event){
            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
            type: 'POST',
            url: '{% url "product-like" %}',
            data: {'id':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
            dataType: 'json',
            success: function(response){

            },
            error: function(rs, e){
                console.log(rs.responseText);
            },
            });
        });

    });
</script>
{% endblock %}