{% extends "ecom/base.html" %}
{% load static %}

{% block title %}
    Pizza-Hub | Menu
{% endblock %}

{% block fbgnav %}
    nav-fbg
{% endblock %}

{% block content %}
        
        <!-- FIRST PART -->

        <div class="m-jumbo">
            <h2 class="p2-heading">Our Menu</h2>
        </div>

        <ul class="breadcrumb">
            {% for category in categories %}
                <li><a href="#sec-{{category.title}}">{{category.title}}</a></li>
                <!-- <li><a href="#sec-burgers">Burgers</a></li>
                <li><a href="#sec-beverages">Beverages</a></li>
                <li><a href="#sec-salads">Salads</a></li> -->
            {% endfor %}
        </ul>

        <!-- SECOND PART -->

        {% for category in categories %}
            <div id="sec-{{category.title}}"></div>
            <div class="p1-headingWrap">
                <h2 class="p1-heading">{{category.title}}</h2>
                <p>{{category.description}}</p>
            </div>
            
            <div class="second-part">
            {% for product in category.get_products %}
                <div class="card">
                    <img src="{% static 'ecom/images/karthik-garikapati-oBbTc1VoT-0-unsplash.jpg' %}" alt="Avatar" style="width:100%">
                    <div class="middle">
                        <div class="text"><i class="fas fa-cart-plus"></i></div>
                    </div>
                    <div class="container">
                        <h4><b>{{product.item}}</b></h4> 
                        <p style="opacity: 0.5; margin-bottom: 24px;">{{product.description}}</p>
                        <div id="like-section-{{ product.pk }}">
                            {% include 'ecom/like_section.html' %}
                        </div>
                        <p>
                            {% for i in product.rating %}
                                {% if i == '1' %}
                                    <span class="fas fa-star f-star"></span>
                                {% else %}
                                    <span class="far fa-star nf-star"></span>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p class="c-subtext">₹ {{product.price}}/-</p> 
                    </div>
                </div>
            {% endfor %}

            </div>
        {% endfor %}

{% endblock %}


{% block scripts %}

    <script type="text/javascript">

        function toggleLike(x){
            if(x.classList.contains('far'))
            {
                x.classList.remove('far')
                x.classList.add('fas')
            }
            else
            {
                x.classList.remove('fas')
                x.classList.add('far')
            } 
        }

        $(document).ready(function(event){
        
            // LIKE POSTS

            $(document).on('click','#like',function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                $.ajax({
                type: 'POST',
                url: '{% url "product-like" %}',
                data: {'id':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                    // var newresp = response['form'].replace(`value=""`,`value='${pk}'`)
                    // if(newresp.includes(`class="far fa-heart nf-heart"`))
                    // {
                    //     var newresp2 = newresp.replace(`class="far fa-heart nf-heart"`,`class="fas fa-heart f-heart"`)
                    // }
                    // if(newresp.includes(`class="fas fa-heart f-heart"`))
                    // {
                    //     var newresp2 = newresp.replace(`class="fas fa-heart f-heart"`,`class="far fa-heart nf-heart"`)
                    // }
                    
                    // $(`#like-section-${pk}`).html(newresp2);
                    // console.log(newresp2);
                    // console.log(newresp.includes(`class="far fa-heart nf-heart"`));
                    // console.log($('#like-section').html(response['form']));

                },
                error: function(rs, e){
                    console.log(rs.responseText);
                },
                });
            });
        });
    </script>

{% endblock %}