{% extends "ecom/base.html" %}
{% load static %}

{% block title %}
    Pizza-Hub | {{product.item}}
{% endblock %}

{% block fbgnav %}
    nav-fbg
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
      .bscard {
          border: none
      }

      .product {
          background-color: #eee
      }

      .brand {
          font-size: 13px
      }

      .act-price {
          color: red;
          font-weight: 700
      }

      .dis-price {
          text-decoration: line-through
      }

      .about {
          font-size: 14px
      }

      .color {
          margin-bottom: 10px
      }

      label.radio {
          cursor: pointer
      }

      label.radio input {
          position: absolute;
          top: 0;
          left: 0;
          visibility: hidden;
          pointer-events: none
      }

      label.radio span {
          padding: 2px 9px;
          border: 2px solid #ff0000;
          display: inline-block;
          color: #ff0000;
          border-radius: 1px;
          text-transform: uppercase
      }

      label.radio input:checked+span {
          border-color: #ff0000;
          background-color: #ff0000;
          color: #fff
      }

      .btn-danger {
          background-color: #ff0000 !important;
          border-color: #ff0000 !important
      }

      .btn-danger:hover {
          background-color: #da0606 !important;
          border-color: #da0606 !important
      }

      .btn-danger:focus {
          box-shadow: none
      }

      .cart i {
          margin-right: 10px
      }

      #atc{
        font-size: 16px;
        display: inline;
        float: left;
      }

      .fixlayout{
          display: flex;
          flex-direction: row;
      }

    </style>

{% endblock %}

{% block content %}
<div style="margin-top: 110px;"></div>
<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
      <div class="col-md-10">
          <div class="bscard">
              <div class="row">
                  <div class="col-md-6  d-flex justify-content-center align-items-center">
                    {% if product.image %}
                    <img class="img-fluid" style="height: 100%; width: auto;" src="{{product.image.url}}" />
                    {% else %}
                    <img class="img-fluid" style="height: 100%; width: auto;" src="{% static 'ecom/images/karthik-garikapati-oBbTc1VoT-0-unsplash.jpg' %}" />
                    {% endif %}
                    
                  </div>
                  <div class="col-md-6">
                      <div class="product p-4">
                        <div class="float-right d-inline">
                            <div id="like-section-{{ product.pk }}">
                                {% include 'ecom/like_section.html' %}
                            </div>
                            <!-- <i class="fa fa-heart text-muted f-heart"></i> -->
                        </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">{{product.category}} | {{product.brand}}</span><br><br>
                              <p class="h5 text-uppercase"><b>{{product.item}}</b></p>
                              <div class="price d-flex flex-row align-items-center"> <span class="act-price">₹ {{product.price}}</span>
                                  <!-- <div class="ml-2"> <small class="dis-price">{{product.price}}</small> <span>{{product.discount}}% OFF</span> </div> -->
                              </div>
                            </div>
                            <p class="about">{{product.description}}</p>
                            <div class="sizes mt-5">

                                <!-- { "size":[ "S", "M", "L" ], "crust":[ "cheese burst", "classic hand tossed", "thin crust" ] } -->
                                {% if product_opts != None %}
                                    {% for key,opt in product_opts.items %}
                                        <h6 class="text-uppercase">{{key}}</h6> 
                                        {% for subopt in opt %}
                                            <label class="radio"> 
                                                {% if subopt == opt.0 %}
                                                    <input type="radio" name="{{key}}" value="{{subopt}}" checked> 
                                                {% else %}
                                                    <input type="radio" name="{{key}}" value="{{subopt}}">
                                                {% endif %} 
                                                <span title="{{subopt}}">{{subopt}}</span> 
                                            </label>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                              
                            </div>
                            <div class="cart mt-4 align-items-center"> 
                                
                                <button class="btn btn-danger text-uppercase mr-2 px-4">
                                    <form action="{% url 'add-to-cart' %}" method="POST">
                                        {% csrf_token %}
                                    
                                        {% if user.is_authenticated %}
                                            
                                            {% if product in in_cart %}
                                                <a onclick="toggleCart(this)" id="atc" type="submit" name="product_id" value="{{product.id}}" ><i class="fas fa-check-circle"></i> <span>REMOVE FROM CART</span></a>
                                            {% else %}
                                                <a onclick="toggleCart(this)" id="atc" type="submit" name="product_id" value="{{product.id}}" ><i class="fas fa-cart-plus"></i> <span>ADD TO CART</span></a>
                                            {% endif %}
                                    
                                        {% else %}
                                            <i class="fas fa-cart-plus"></i>
                                        {% endif %}
                                    </form>

                                </button>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">

        function toggleLike(x){
            if(x.classList.contains('far'))
            {
                x.classList.remove('far')
                x.classList.add('fas')
            }
            else
            {
                x.classList.remove('fas')
                x.classList.add('far')
            } 
        }

        function toggleCart(y){
            x = y.getElementsByTagName("i")[0]
            z = y.getElementsByTagName("span")[0]
            if(x.classList.contains('fa-check-circle'))
            {
                x.classList.remove('fa-check-circle')
                x.classList.add('fa-cart-plus')
                z.innerText = "ADD TO CART"
            }
            else
            {
                x.classList.remove('fa-cart-plus')
                x.classList.add('fa-check-circle')
                z.innerText = "REMOVE FROM CART"
            } 
        }

        $(document).ready(function(event){
        
            // LIKE POSTS

            $(document).on('click','#like',function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                $.ajax({
                type: 'POST',
                url: '{% url "product-like" %}',
                data: {'id':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){

                },
                error: function(rs, e){
                    console.log(rs.responseText);
                },
                });
            });

            //  ADD TO CART

            $(document).on('click','#atc',function(event){
                event.preventDefault();
                var pk = $(this).attr('value');

                var opt_param = ``;
                {% if product_opts != None %}
                    {% for key,opt in product_opts.items %}
                        opt_param += document.querySelector('input[name="{{key}}"]:checked').value + ', ';
                    {% endfor %}
                {% endif %}
                
                console.log(opt_param);

                $.ajax({
                type: 'POST',
                url: '{% url "add-to-cart" %}',

                {% if product_opts != None %}
                    data: {'id':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}', 'opt_param':opt_param},
                {% else %}
                    data: {'id':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                {% endif %}
                
                dataType: 'json',
                success: function(response){
                    console.log("Item added to cart");
                },
                error: function(rs, e){
                    console.log(rs.responseText);
                },
                });
            });


        });
    </script>

{% endblock %}