{% load static %}

<ul class="breadcrumb">
    <em>You have wishlisted {{wishlist|length}} items</em>
</ul>

<div class="second-part">
{% for product in wishlist %}
        <div class="card">
            <img src="{% static 'ecom/images/karthik-garikapati-oBbTc1VoT-0-unsplash.jpg' %}" alt="Avatar" style="width:100%">
            <div class="middle">
                <div id="cart-section-{{ product.pk }}" class="text">
                    {% include 'ecom/add_to_cart_section.html' %}
                </div>
            </div>
            <div class="container">
                <h4>
                    <b>{{product.item}}</b>
                    <a style="margin-left: 10px;" href="{% url 'product-details' product.id %}"><i class="fas fa-external-link-alt "></i></a>
                </h4> 
                <p style="opacity: 0.5; margin-bottom: 24px;">{{product.description}}</p>
                <div>
                    <form action="{% url 'wishlist-remove' %}" method="POST">
                        {% csrf_token %}
                        <a id="like" type="submit" name="product_id" value="{{product.id}}" ><i class="fas fa-ban f-heart"></i></a>
                    </form>
                </div>
                <p>
                    {% for i in product.rating %}
                        {% if i == '1' %}
                            <span class="fas fa-star f-star"></span>
                        {% else %}
                            <span class="far fa-star nf-star"></span>
                        {% endif %}
                    {% endfor %}
                </p>
                <p class="c-subtext">₹ {{product.price}}/-</p> 
            </div>
        </div>
{% endfor %}
</div>