.invoice-card {
    display: flex;
    flex-direction: column;
    padding: 10px 2em;
    min-height: 25em;
    width: 22em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.15);
  }
  
  .invoice-card > div {
    margin: 5px 0;
  }
  
  .invoice-title {
    flex: 3;
  }
  
  .invoice-title #date {
    display: block;
    margin: 8px 0;
    font-size: 12px;
  }
  
  .invoice-title #main-title {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
  }
  
  .invoice-title #main-title h4 {
    letter-spacing: 2.5px;
  }
  
  .invoice-title span {
    color: rgba(0, 0, 0, 0.4);
  }
  
  .invoice-details {
    flex: 1;
    border-top: 0.5px dashed grey;
    border-bottom: 0.5px dashed grey;
    display: flex;
    align-items: center;
  }
  
  .invoice-border{
      border-bottom: 0.5px dashed grey;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      line-height: 1.6em;
  }
  
  .invoice-dets{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 10px;
      /* line-height: 2em; */
  }
  
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .invoice-table thead tr td {
    font-size: 12px;
    letter-spacing: 1px;
    color: grey;
    padding: 8px 0;
  }
  
  .invoice-table thead tr td:nth-last-child(1),
  .row-data td:nth-last-child(1),
  .calc-row td:nth-last-child(1)
  {
    text-align: right;
  }
  
  .invoice-table tbody tr td {
      padding: 8px 0;
      letter-spacing: 0;
  }
  
  .invoice-table .row-data #unit {
    text-align: center;
  }
  
  .invoice-table .row-data span {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .invoice-footer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .invoice-footer #later {
    margin-right: 5px;
  }
  
  
  .btn#later {
    margin-right: 2em;
  }